* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", sans-serif;
}

header {
  background-color: #153d17;
  color: white;
  padding: 0.75rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2rem;
}

a.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none !important;
}

.logo img {
  height: 50px;
}

.logo h1 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.nav-links a:hover {
  color: #a6d6a7;
  border-bottom: 2px solid #a5d6a7;
}

.user {
  display: flex;
  margin-right: 0px;
  gap: 10px;
}

.user img {
  height: 40px;
  border-radius: 20px;
}

:hover .user img {
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.8rem;
  }
}

.hidden {
  visibility: hidden !important;
}