
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #153d17;
  color: white;
  padding: 0.75rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2rem;
}


a.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none !important;
}

.logo img {
  height: 50px;
}

.logo h1 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.nav-links a:hover {
  color: #a6d6a7;
  border-bottom: 2px solid #a5d6a7
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
  }

  .nav-links {
  flex-direction: column;
  gap: 0.8rem;
  }
}


.user{

  display: flex;
  margin-right: 0px;
  gap: 10px;
}

.user img {
  height: 40px;
  border-radius:20px ;
}
:hover .user img {
  cursor:pointer;
}


.carousels ul {
  width: 100%;
  height: 300px;
  padding: 20px;
  display: flex;
  gap: 4vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.carousels li {
  list-style-type: none;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  padding: 20px;
  scroll-snap-align: center;
  flex: 0 0 100%;
}

.carousels li:nth-child(even) {
  background-color: cyan;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel ul {
  display: flex;
  width: 100%;
  height: 300px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel ul::-webkit-scrollbar {
  display: none;
}

.carousel li {
  flex: 0 0 100%; 
  list-style: none;
  scroll-snap-align: start;
  background: #eee;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.carousel li:nth-child(even) {
  background: #38bdf8;
}


.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: rgba(102, 102, 102, 0.4);
  color: white;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
 
}

.carousel button:hover {
  background: rgba(102, 102, 102, 0.6);
}

.carousel button.prev {
  left: 10px;
  color: black;
}

.carousel button.next {
  right: 10px;
  color: black;
}

.hidden{
  visibility:hidden !important;
}



.artigoConteiner{
  margin:15px;
  display: grid;
  grid-template-columns: repeat(3,minmax(350px, 1fr));
  grid-gap: 20px;
}

.artigo1 {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
}

.artigo1 figure {
  margin: 0;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.artigo1 img {
  width: 100%;
  height: 100%;
  background-color: #0f172a;
  border:1px solid black;
  object-fit: cover;
  display: block;
}
