.artigoConteiner {
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(5, minmax(350px, 1fr));
  grid-gap: 20px;
}

.artigo {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  height: 50vh;
}

.artigo figure {
  margin: 0;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.artigo img {
  width: 100%;
  height: 100%;
  background-color: #0f172a;
  border: 1px solid black;
  object-fit: cover;
  display: block;
} 

.seilapo {
  position: relative; 
  display: block;
  width: 100%;
}

.seilapo img{
  background-color: black;
  border: 1px solid black;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 35vh;
}

.seilapo .image-text{
  position: absolute;
  font-weight: 700;
  font-size: 400%;
  top: 50%;
  left: 50%;
  -webkit-text-stroke: 2px black;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
}