 .carousel ul { /**/
  width: 90vw;
  height: 300px;
  padding: 20px;
  display: flex;
  margin-left: 3.43vw;
  gap: 4vw;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}
.carousel li {
  list-style-type: none;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  padding: 20px;
  scroll-snap-align: center;
  flex: 0 0 100%;
}

.carousel ul::scroll-button(*) {
  border: 0;
  font-size: 2rem;
  background: none;
  color: black;
  opacity: 0.7;
  cursor: pointer;
}

.carousel ul::scroll-button(*):hover,
.carousel ul::scroll-button(*):focus {
  opacity: 1;
}

.carousel ul::scroll-button(*):active {
  translate: 1px 1px;
}

.carousel ul::scroll-button(*):disabled {
  opacity: 0.2;
  cursor: unset;
}

.carousel ul::scroll-button(left) {
  content: "◄";

}

.carousel ul::scroll-button(right) {
  content: "►";

}
.carousel li {
  scroll-snap-align: center;
}
.carousel ul {
  anchor-name: --my-carousel;
}

.carousel ul::scroll-button(*) {
  position: absolute;
  position-anchor: --my-carousel;
}
.carousel ul::scroll-button(left) {
  right: calc(anchor(left) - 70px);
  bottom: calc(anchor(top) - 189px);
}

.carousel ul::scroll-button(right) {
  left: calc(anchor(right) - 70px);
  bottom: calc(anchor(top) - 189px);
}

.carousel ul::scroll-marker-group {
  position: absolute;
  position-anchor: --my-carousel;
  top: calc(anchor(bottom) - 70px);
  justify-self: anchor-center;

  display: flex;
  justify-content: center;
  gap: 20px;
}
.carousel li::scroll-marker {
  content: "";
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50%;
}
.carousel li::scroll-marker:target-current {
  background-color: black;
}